.full-view-content {
    --background: #000;
    color: #fff;
    display: flex;
    flex-direction: column;
    padding: 1rem;
  }

  .image-wrap {
    position: relative;
    height: 60vh;
  
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block;
      border-radius: 1rem;
    }
  
    .image-actions {
      position: absolute;
      bottom: 16px;
      left: 16px;
      right: 16px;
      display: flex;
      justify-content: space-between;
  
      ion-icon {
        font-size: 32px;
        background: rgba(0, 0, 0, 0.6);
        border-radius: 12px;
        padding: 8px;
        color: #fff;
        cursor: pointer;
      }
    }
  }

  .icon-back{
      font-size: 32px;
        background: rgba(0, 0, 0, 0.6);
        border-radius: 12px;
        padding: 8px;
        color: #fff;
        cursor: pointer;
  }
  
  .padding-bottom-20{
    padding-bottom: 20px;
  }

  .text-area {
    padding: 16px;
  
    pre {
      white-space: pre-wrap;
      font-size: 16px;
      color: #fff;
    }
  
    .prompt-info {
      margin-top: 16px;
      border-top: 1px solid #333;
      padding-top: 12px;
  
      h3 {
        font-size: 18px;
        font-weight: 700;
      }
  
      p {
        margin: 4px 0;
        color: #ccc;
      }
    }
  }
  