<ion-content class="full-view-content ion-padding padding-bottom-20">
    <div class="image-wrap">
            <ion-icon class="icon-back" name="chevron-back-outline" (click)="close()"></ion-icon>
        <img [src]="item.imageUrl" alt="image" />
        <div class="image-actions">
            <ion-icon (click)="share()" name="paper-plane-outline"></ion-icon>
            <ion-icon name="copy-outline" (click)="copyText()"></ion-icon>
        </div>
    </div>

    <div class="text-area">
        <pre>{{ item.howTo }}</pre>
    </div>
</ion-content>